{% set page = { 
  name: 'features',
  title: 'Features' 
} %}

{% import "components/pagination/_pagination.html" as pagination %}

{% include "layout/header/_header.html" %}

<div class="features item container">
  <div class="item__header">
    <h1 class="item__name">{{jen.db.features.contentType.pluralName}}</h1>
  </div>
  {% if (jen.pagination.offset + jen.pagination.itemsPerPage) < jen.pagination.total %}
  {% set upperRange = jen.pagination.offset + jen.pagination.itemsPerPage %}
  {% else %}
  {% set upperRange = jen.pagination.total %}
  {% endif %}
  <!-- <h1 class="item__name">Upper range: {{upperRange}}</h1> -->
   {% for i in range(jen.pagination.offset, upperRange) %}
  <div class="alt">
    <div class="alt__item alt__item_body">
      <a href="/features/{{jen.db.features.items[i].slug}}">
        <h2>{{jen.db.features.items[i].fields.title}}</h2>
      </a>
      <p>
        {{jen.db.features.items[i].fields.body | striptags() | truncate(200)}} <a
          href="/features/{{jen.db.features.items[i].slug}}">More</a>
      </p>
    </div>
    <div class="alt__item alt__item_figure">
      <a href="/features/{{jen.db.features.items[i].slug}}"><img class="alt__image"
          src="{{jen.db.features.items[i].fields.image.sizes.w420}}" alt="{{jen.db.features.items[i].fields.title}}"></a>
    </div>
  </div>
  {% endfor %}
  
  {% call pagination.nav() %}
  {% if jen.pagination.currentPage !== 1 %}
  {{ pagination.previous(url = '/' + jen.page.name + '/page-' + (jen.pagination.currentPage - 1)) }}
  {% else %}
  {{ pagination.disabledPrevious() }}
  {% endif %}
  {% for i in range(0, 
      (jen.pagination.total/jen.pagination.itemsPerPage) | round) -%}
  {% if jen.pagination.currentPage === i + 1 %}
  {{ pagination.activeItem(i + 1) }}
  {% else %}
  {{ pagination.nonActiveItem(i + 1, '/' + jen.page.name + '/page-' + (i + 1)) }}
  {% endif %}
  {%- endfor %}
  {% if jen.pagination.currentPage != (jen.pagination.total/2) | round %}
  {{ pagination.next(url = '/' + jen.page.name + '/page-' + (jen.pagination.currentPage + 1)) }}
  {% else %}
  {{ pagination.disabledNext() }}
  {% endif %}
  {% endcall %}
  <div class="attribution">Icons made by <a href="https://www.freepik.com/" title="Freepik" rel="noreferrer">Freepik</a>
    from <a href="https://www.flaticon.com/" title="Flaticon" rel="noreferrer">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank"
      rel="noreferrer">CC 3.0 BY</a>
  </div>
</div>
{% include "layout/footer/_footer.html" %}